@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap");

/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */

/*=====================================
 Common Styles or Utilities
==================================== */

p {
  font-family: "Roboto", sans-serif;
  color: #3e3e3e;
}

a {
  text-decoration: none;
}

/*================================
Header Section Style 
================================*/
header {
  margin-top: 30px;
  margin-bottom: 130px;
}

.navbar-light .nav-item a.nav-link {
  margin-left: 50px;
  color: #3c3c3c;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
}

.navbar-light .nav-item a.nav-link:hover {
  color: #a4bc46;
}

.site-title {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  margin-top: 100px;
}

.site-title span {
  color: #fabe4c;
}

.header-text p {
  margin-bottom: 25px;
}

a.buy-now-btn-top,
a.buy-now-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border-radius: 10px;
  background-color: #a4bc46;
  border: 3px solid #a4bc46;
  text-transform: uppercase;
  padding: 12px 19px;
}

a.buy-now-btn-top i,
a.buy-now-btn i {
  margin-right: 5px;
}

a.buy-now-btn {
  padding: 8px 16px;
}

a.buy-now-btn-top:hover,
a.buy-now-btn:hover {
  background-color: white;
  color: #a4bc46;
}

/*===========================
Products Section Styles
===========================*/
.section-title {
  font-family: "Bebas Neue", cursive;
  font-size: 48px;
  color: #363958;
  margin-bottom: 40px;
}

.single-product {
  padding: 10px;
  box-shadow: 0px 0px 10px 10px #efefef;
  border-radius: 10px;
}

.single-product img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}

.product-img-container {
  background-color: #f1f1f1;
  border-radius: 20px;
}

.products img {
  height: 250px;
  width: 210px;
  padding: 10px;
}

.product-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #363958;
  margin-top: 30px;
}

.product-price {
  font-size: 36px;
  font-weight: 900;
  color: #fabe4c;
  margin: 0;
}

.mans-products {
  margin-top: 110px;
}

/*==========================
Footer Section Styles
==========================*/
footer {
  margin-top: 150px;
}

.single-row-footer {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer-left h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  color: #363958;
}
/*=========================
Responsive Layout Styles
=========================*/
@media only screen and (max-width: 768px) {
  .navbar-brand img {
    height: 25px;
    width: 190px;
  }

  .navbar-toggler-icon {
    height: 20px;
    width: 20px;
  }

  header {
    margin-bottom: 100px;
  }

  .site-title {
    margin-top: 50px;
    font-size: 60px;
    margin-bottom: 0px;
  }

  .header-text p {
    margin-bottom: 30px;
  }

  .header-img {
    margin-top: 50px;
  }

  .section-title {
    text-align: center;
  }

  .single-product {
    margin: 20px auto;
  }

  .mans-products {
    margin-top: 100px;
  }

  footer {
    margin: 100px 0px;
  }

  .single-row-footer {
    margin-top: 50px;
    text-align: center;
  }

  .single-row-footer p {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .products .row > div:nth-of-type(3) {
    margin: 0 auto;
    margin-top: 3rem;
  }
}
